<h1>Editing Movie: <%= @movie.title %></h1>

<%= form_for @movie do |f| %>
	<p>
	<%= f.label :title %><br/>
	<%= f.text_field :title %>
	</p>
	<p>
	<%= f.label :description %><br/>
	<%= f.text_area :description, columns: 40, rows: 7 %>
	</p>
	<p>
	<%= f.label :rating %><br/>
	<%= f.text_field :rating, size: 5 %>
	</p>
	<p>
	<%= f.label :released_on %><br/>
	<%= f.date_field :released_on %>
	</p>
	<p>
	<%= f.label :total_gross %><br/>
	<%= f.number_field :total_gross %>
	</p>
	<p>
	<%= f.submit %>
	</p>
<% end %>



<!-- description (a text attribute) goes in a text area with 40 columns and 7 rows, for example
rating (a string attribute) goes in a text field with a size of 5, for example
released_on (a date attribute) goes in a date select
total_gross (a decimal attribute) goes in a number field -->


nickschofield ALL = NOPASSWD: /usr/bin/git